@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: normal;
  box-sizing: border-box;
}

:lang(en) {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

:lang(ko) {
  font-family: "Pretendard";
}

/* 크롬 및 엣지에서 자동완성된 필드의 배경색을 변경하는 CSS */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

/* 모질라 파이어폭스에서 자동완성된 필드의 배경색을 변경하는 CSS */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

@layer components {
  .status-popup[data-status="closed"] {
    @apply data-[status=closed]:scale-0 data-[status=closed]:transform data-[status=closed]:opacity-0;
  }
  .status-slide[data-status="closed"] {
    @apply data-[status=closed]:-translate-x-full data-[status=closed]:opacity-0;
  }
}
