@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: normal;
}

:lang(en) {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

:lang(ko) {
  font-family: "Pretendard";
}
